.button{
  display: inline-block;
  padding: @button-padding;
  text-decoration: none;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: @button-radius;
  color: white;
  font-weight: normal;
  .transition(all .2s);
  font-size: @font-size-base;
  font-family: @font-family-base;
}

.button-large{
  padding: @button-large-padding;
  font-size: @button-large-font-size;
}

.button-primary{
  background-color: @brand-primary;

  &:hover{
    background: darken(@brand-primary, 5%);
  }

  &:focus{
    background: darken(@brand-primary, 10%);
  }
}