// CSS hack for smooth font edges
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body{
  background-color: @body-bg;
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  text-rendering: optimizeLegibility;
}

#wrapper{
  background-color: @body-bg;
  padding-top: @menu-height;
}

hr{
  border-color: @hr-color;
  color: @hr-color;
}


h1, h2, h3{
  font-family: @font-family-title;
}

h1{
  font-size: @heading-h1;
}

h2{
  font-size: @heading-h2;
}

h3{
  font-size: @heading-h3;
}


.container{
  width: 100%;
  margin: 0 auto;
  clear: both;

  @media @small {
    width: @container-small;
  }

  @media @medium {
    width: @container-medium;
  }

  @media @medium-only {
    width: @container-large;
  }

  @media @large{
    width: @container-xlarge;
  }

  @media @large-only{
    width: @container-xxlarge;
  }
}