.navigation {
  background: @brand-secondary;
  height: @menu-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.brand {
  padding-left: 10px;
  padding-top: 10px;
  display: inline-block;
  float: left;
}

#open-right {
  float: right;
  margin-right: 10px;
  margin-top: 18px;
  border: 1px solid white;
  .border-radius(@border-radius-base);
  padding: 3px 10px;
  position: relative;

  @media @medium{
    display: none;
  }

  span {
    float: left;
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -1px;
    margin-right: 10px;
    font-size: 14px;
  }
}

.menu-toggle {
  cursor: pointer;
  list-style: none;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  top: 3px;

  li {
    width: 24px;
    height: 4px;
    background: #fff;
    margin: 2px 0 0;
    padding: 0;
    .transform(translate3d(0, 0, 0));
    .transition(all 333ms cubic-bezier(0.5, 0, 0, 1));
  }
}

#open-right.checked {
  .menu-toggle {
    li.first {
      .transform(rotate(-135deg) translateY(-8.5px));
    }
    li.second {
      opacity: 0;
    }
    li.third {
      .transform(rotate(135deg) translateY(8.5px));
    }
  }
}

// Customize
.snap-drawer {
  background: @brand-secondary;
  color: white;
  padding: 10px 0px;

  a {
    color: white;
  }

  h4{
    text-align: right;
    text-transform: uppercase;
    font-size: 21px;
    margin: 10px 0px;
    padding: 8px 30px;
  }
}

#menu-mobile {
  margin: 0;
  padding: 0;
  font-size: 16px;

  li{
    list-style-type: none;
    text-align: right;
  }

  a{
    text-decoration: none;
    color: lighten(@brand-secondary, 60%);
  }

  & > li {

    & > a {
      padding: 8px 20px;
      padding-right: 30px;
      display: block;
      border-bottom: 1px solid darken(@brand-secondary, 5%);
    }

    &:last-child{
      & > a{
        border-bottom: 0px;
      }
    }
  }

  ul{
    margin: 0;
    padding: 0;

    & > li{

      & > a{
        background-color: darken(@brand-secondary, 5%);
        display: block;
        padding: 8px 30px;
        border-bottom: 1px solid darken(@brand-secondary, 10%);
      }

      &:last-child{
        & > a{
          border-bottom: 0px;
        }
      }
    }
  }
}

#menu{
  margin: 0;
  padding: 0;
  float: right;
  display: none;
  margin-right: 10px;

  @media @medium{
    display: block;
  }

  & > li{
    display: inline-block;
    padding: @menu-padding-vertical;
    position: relative;

    & > a{
      color: white;
      text-decoration: none;
    }

    &:hover{
      .sub-menu{
        display: block;
      }
    }
  }
}

.sub-menu{
  display: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 170px;
  top: 100%;
  left: 0;

  li{
    *margin-bottom: -1px;
    list-style-type: none;
  }

  li a{
    background: @brand-primary;
    border-bottom: 1px solid lighten(@brand-primary, 5%);
    font-size: 11px;
    filter: none;
    display: block;
    line-height: 120%;
    padding: 10px;
    color: #ffffff;
    position: relative;
  }
}