// Responsive iframe
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.closed{
  opacity: 0;
}

.open{
  opacity: 1;
  transition:opacity 1s linear;
}

.image-svg{
  display: inline-block;
}

.image-png{
  display: none;
}

.no-svg .image-svg{
  display: none;
}

.no-svg .image-png{
  display: inline-block;
}