// Path's
// Use: background: url('@{ImgPath}/example.png');
@font-path:                     "../../static/fonts";
@img-path:                      "../../static/img";

// Global colors
@body-bg:                       #f3f6fa;
@hr-color:                      #d9d9d9;

// Fonts sizes and family
@font-size-base:                14px;
@font-family-base:              "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-title:             "Proxima Nova", Helvetica, Arial, sans-serif;

// Headers
@heading-h1:                    32px;
@heading-h2:                    32px - 6;
@heading-h3:                    32px - 12;

// Branding colors
@brand-primary:                 #1f81e5;
@brand-secondary:               #1c2b41;

// Thank you Bootstrap!
//** Unit-less `line-height` for use in components like buttons.
@line-height-base:              1.728571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:          floor((@font-size-base * @line-height-base)); // ~20px

// Media breakpoints
@small:                         ~"only screen and ()";
@small-only:                    ~"only screen and (max-width: 40em)";
@medium:                        ~"only screen and (min-width: 40.063em)";
@medium-only:                   ~"only screen and (min-width: 40.063em) and (max-width: 64em)";
@large:                         ~"only screen and (min-width: 64.063em)";
@large-only:                    ~"only screen and (min-width: 64.063em) and (max-width: 90em)";
@xlarge:                        ~"only screen and (min-width: 90.063em)";
@xlarge-only:                   ~"only screen and (min-width: 90.063em) and (max-width: 120em)";
@xxlarge:                       ~"only screen and (min-width: 120.063em)";

// Container Width's
@container-small:               460px;
@container-medium:              750px;
@container-large:               950px;
@container-xlarge:              1080px;
@container-xxlarge:             1200px;

// Borders
@border-radius-base:            3px;
@border-radius-large:           9px;

// Buttons
@button-padding:                7px 24px;
@button-radius:                 @border-radius-base;

@button-large-padding:          14px 30px;
@button-large-font-size:        16px;

@button-primary:                @brand-primary;
@button-secondary:              @brand-secondary;

// Menu responsive
@menu-height:                   70px;
@menu-padding-vertical:         ((@menu-height - @line-height-computed) / 2);